.container{
    margin-top: 50px;
    height: 300px;
    width: 60%;
    border: 1px solid  rgb(177, 173, 173); ;
    background-color: white;
    margin-left: 20%;
    border-bottom: none;

}
.time {
    padding-top: 2%;
    height: 40px;
padding-left: 20%;
border: 1px solid rgb(177, 173, 173); ;
    
}
#display{
    
    width:100%;
    font-size: 6vw;
    margin-top: 50px;
   
    text-align: left;
   margin-bottom: 55px;
   padding-left: 3%;
  

}

.btn{
    padding-top: 20px;
    padding-left: 3%;
   
    height: 60px;
    
    border: 1px solid rgb(177, 173, 173); 
  
   
    text-align: left;

}
#timer{
    border: none;
    background-color: white;
    color: rgb(177, 173, 173); ;
}
#stopwatch{
    border: none;
    background-color:white;
    margin-left: 30%;
    color: rgb(177, 173, 173); ;

}
#startstop{
    width: 6em;
    height: 2em;
    margin-right: 3%;
    color: white;
    background-color: blue;
    cursor: pointer;
}
#reset{
    width: 6em;
    height: 2em;
    color: rgb(82, 16, 189);
}